@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

//Font Families
$url-project-font-noto-sans: 'Noto Sans', sans-serif;

// Font Colors
$url-project-color-white: #FFF;
$url-project-color-medirian-blue: #E1EBEE;
$url-project-color-white-cultured: #EEF0F2;
$url-project-color-conrflower-blue: #2C497F;
$url-project-color-light-blue: #3f69b8;
$url-project-color-blue-munsell: #068D9D;
$url-project-color-terra-cotta: #D77A61;
$url-project-color-dark-chocolate: #0F1108;
$url-project-color-red: #FF4136;
$url-project-color-green: #2ECC40;
$url-project-color-modal-background: rgb(43,43,43, 0.8);
